body, html {
    height: 100%;
    margin: 0;
    background-color: #141414;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    scroll-behavior: smooth;
}

.header {
    padding: 15px 16px;
    position: relative;
}

.header a {
    float: left;
    color: #502d16;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 30px; 
    line-height: 30px;
    border-radius: 4px;
}

.header a:hover {
      color: #3d2413;
}

.header-right {
    float:left;   
}

.header a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #3d2413; 
    top: 0;
    width: 0%;
  
    transition: all ease-in-out 250ms;
}
  
.header a:hover::before {
    width: 100%;
}

.logo {
    float: left;
    padding:0px 40px;
    opacity: 100%;
}

.hero-image {
    background-image: url("images/Stick_Background.png");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    overflow: auto;
    background-position: center center;
    background-attachment: fixed;
}

.about {
    text-align: center;
    color:#ffd83e;
}

h1 {
    font-size: 100px;
}

h1 a {
    -webkit-transition: color 0.15s;
    transition: color 0.15s;

    -webkit-transition: text-transform 0.15s;
    transition: text-transform 0.15s;
}

.about h1 a:hover {
    color: #502d16; 
}

.sub {
    font-size: 50px;
    margin: 50px 0px;
}

.sub a {
    -webkit-transition: color 0.15s;
    transition: color 0.15s;
    -webkit-transition: font-size 0.2s;
    transition: font-size 0.2s;
}

.sub a:hover{
    color: #502d16;
    font-size: 60px;
    text-transform: uppercase;
    -webkit-transition: font-size 0.2s;
    transition: font-size 0.2s;
}

.small {
    font-size: 20px;
}

.videos {
    font-size: 20px;
}

.videos a {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    -webkit-transition: font-size 0.2s;
    transition: font-size 0.2s;
}

.videos a:hover{
    color: #FF0000;
    font-size: 25px;
    -webkit-transition: font-size 0.2s;
    transition: font-size 0.3s;
    -webkit-transition: font-size 0.2s;
    transition: font-size 0.2s;
}

.games {
    font-size: 20px;
}

.games a {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    -webkit-transition: font-size 0.2s;
    transition: font-size 0.2s;
}

.games a:hover{
    color: #ad61da;
    font-size: 25px;
    -webkit-transition: font-size 0.2s;
    transition: font-size 0.3s;
}

.bots {
    font-size: 20px;
}

.bots a {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    -webkit-transition: font-size 0.2s;
    transition: font-size 0.2s;
}

.bots a:hover{
    color: #404EED;
    font-size: 25px;
    -webkit-transition: font-size 0.2s;
    transition: font-size 0.3s;
}

.wood {
    font-size: 20px;
}

.wood a {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    -webkit-transition: font-size 0.2s;
    transition: font-size 0.2s;
}

.wood a:hover{
    color: #502d16;
    font-size: 25px;
    -webkit-transition: font-size 0.2s;
    transition: font-size 0.3s;
}

.youtube {
    padding: none;
}

.youtube-logo {
    display: inline-block;
    padding: 100px 50px 0px 0px;
}

.youtube-logo a {
    filter: invert(74%) sepia(75%) saturate(475%) hue-rotate(352deg) brightness(104%) contrast(101%);
}

.youtube-logo a:hover {
    filter: invert(15%) sepia(78%) saturate(7456%) hue-rotate(359deg) brightness(100%) contrast(110%);
}

.itch {
    padding: none;
}

.itch-logo {
    display: inline-block;
    padding: 100px 0px 0px 50px;
}

.itch-logo a {
    filter: invert(74%) sepia(75%) saturate(475%) hue-rotate(352deg) brightness(104%) contrast(101%); 
}

.itch-logo a:hover {
    filter: invert(74%) sepia(89%) saturate(6117%) hue-rotate(332deg) brightness(90%) contrast(91%);
} 

.media {
    padding: 0px 0px 350px 0px;
}

.contact {
    text-align: center;
}

.contact h1{
    color: #721fa1;
}

.contact h1 a:hover {
    text-transform: uppercase;
}

form {
    display: inline-flex;
    flex-direction: column;
    padding: 0vw 4vw 2vw 0px;
    width: 100%;
    max-width: 650px;
    border-radius: 10px;
}

form input, form textarea {
    border: 0;
    border-bottom: 2px solid #313131;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background-color: #161616;
    font-size: 30px;
}

::placeholder {
    color: #313131;
    opacity: 1;
}
  
:-ms-input-placeholder {
   color: #313131;
}   

::-ms-input-placeholder { 
   color: #313131;
}

form button {
    padding: 15px;
    background-color: #721fa1;
    color: #141414;
    font-size: 30px;
    border: 0;
    outline: none;
    cursor: pointer;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    height: 100%;
    width: 250px;
    margin: 2px auto 0;
    border-radius: 15px;

    -webkit-transition: width 0.2s;
    transition: width 0.3s;
}

form button:hover {
    background-color: #5e2083;
    width: 350px;

    -webkit-transition: width 0.2s;
    transition: width 0.3s;
}

footer {
    background-color: #111111;
}

.footer-logo {
    padding: 1em;
}

.foot {
    text-align: center;
    color: #161515;
    padding: 0em 0em 1em;
    margin: 0em;
    font-size: 20px;
}