body, html {
    height: 100%;
    margin: 0;
    background-color: #e5d864ff;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    scroll-behavior: smooth;
}

.header {
    padding: 15px 16px;
    position: relative;
}

.header a {
    float: left;
    color: #502d16;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 30px; 
    line-height: 30px;
    border-radius: 4px;
}

.header a:hover {
      color: #3d2413;
}

.header-right {
    float: left;   
}

.header a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #3d2413; 
    top: 0;
    width: 0%;
  
    transition: all ease-in-out 250ms;
}
  
.header a:hover::before {
    width: 100%;
}

.logo {
    float: left;
    padding:0px 40px;
    opacity: 100%;
}

.hero-image {
    background-image: url("images/Stick_Background.png");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.about {
    text-align: center;
    color:#502d16;
}

.about a {
    filter: invert(18%) sepia(7%) saturate(4354%) hue-rotate(340deg) brightness(97%) contrast(94%);
}

.about a:hover {
    filter: invert(12%) sepia(16%) saturate(2139%) hue-rotate(341deg) brightness(98%) contrast(91%);
}

h1 {
    font-size: 100px;
}

p {
    font-size: 50px;
}

.small {
    font-size: 20px;
}

.youtube {
    padding: 100px 50px 0px 0px;
}

.itch {
    padding: 100px 0px 0px 50px;
}

.media {
    padding: 0px 0px 300px 0px;
}
